{% extends 'base.html' %}


{% block title %} index  {% endblock title %}


{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'base.css' %}">

<div class="container-fluid my-2"><div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/1600x600/?egg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5> alladin egg corporation</h5>
        <p>welcome to alladin egg corporation,aim to serve.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1600x600/?chicken" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>alladin egg corporation</h5>
        <p>aim to make the egg market big.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1600x600/?cock" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>alladin egg corporation</h5>
        <p>aim to produce profit to our customer.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>


  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          <a id="GFG" href="{% url 'labour' 'labour' %}">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1600x1000/?workers" class="d-block w-100" alt="...">

              <h1 class="card-text">Labour</h1>

          </div>
          </a>
        </div>

        <div class="col">
          <a id="GFG" href="{% url 'labour' 'tray' %}">
          <div class="card shadow-sm">
          <img src="https://source.unsplash.com/1600x1000/?egg tray" class="d-block w-100" alt="...">

              <h1 class="card-text">Tray</h1>

          </div>
          </a>
        </div>

        <div class="col">
        <a id="GFG" href="#">
          <div class="card shadow-sm">
          <img src="https://source.unsplash.com/1600x1000/?egg shop" class="d-block w-100" alt="...">

              <h1 class="card-text">Egg Sellers</h1>

          </div>
        </a>
        </div>

        <div class="col">
        <a id="GFG" href="#">
          <div class="card shadow-sm">
         <img src="https://source.unsplash.com/1600x1000/?animal feed" class="d-block w-100" alt="...">


              <h1 class="card-text">Feed</h1>


          </div>
        </a>
        </div>
        <div class="col">
        <a id="GFG" href="#">
          <div class="card shadow-sm">
        <img src="https://source.unsplash.com/1600x1000/?Polutry farms" class="d-block w-100" alt="...">

              <h1 class="card-text">Polutry Farms</h1>


          </div>
        </a>
        </div>
        <div class="col">
        <a id="GFG" href="#">
          <div class="card shadow-sm">
           <img src="https://source.unsplash.com/1600x1000/?broader chicken" class="d-block w-100" alt="...">

              <p class="card-text">Farm and Broader on rent</p>


          </div>
        </a>
        </div>

        <div class="col">
        <a id="GFG" href="#">
          <div class="card shadow-sm">
           <img src="https://source.unsplash.com/1600x1000/?company" class="d-block w-100" alt="...">

              <p class="card-text">chick order</p>


          </div>
        </a>
        </div>
        <div class="col">
          <a id="GFG" href="#">
          <div class="card shadow-sm">
         <img src="https://source.unsplash.com/1600x1000/?tools" class="d-block w-100" alt="...">


              <p class="card-text">Farm equipments</p>


          </div>
          </a>
        </div>
        <div class="col">
          <a id="GFG" href="#">
          <div class="card shadow-sm">
      <img src="https://source.unsplash.com/1600x1000/?organic fertilizer" class="d-block w-100" alt="...">


              <p class="card-text">Organic fertilizer</p>


          </div>
          </a>
        </div>
      </div>
    </div>


			</div>

<div class="footer">
    <div class="container">

<div class="row">
    <div class="col-sm-6">
        <h3>Download Our App</h3>
        <p>Download App For Android And IOS Mobile Phone.</p>
<div class="app-logo">
            <img src="" alt="applogo">
            <img src="" alt="applogo2">
</div>
    </div>
    <div class="col-sm-6">
        <img src="" alt="logo">
       <p>www.eggchi.com provides complete insight into Indian poultry industry with live poultry prices, egg prices, broiler prices, feed raw material prices, hatching egg prices and broiler chicks prices.
 <a href="/about"> more..</a></p>
    </div>
    <div class="col-sm-6">

        <h4>Useful Links</h4>
        <ul>
            <li>coupons</li>
            <li>Blog Post</li>
            <li>Return Policy</li>
        </ul>

    </div>
      <div class="col-sm-6">
        <h3>Follow Us</h3>
        <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Youtube
        </ul>
    </div>
</div>
        <hr>
        <p class="copyright">&copy; AEC(Alladin Egg Corporation) 2021-2022</p>
    </div>

</div>

{% endblock body %}
