{% extends 'base.html' %}
{% block title %}Labour{% endblock title %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for l in labour %}
        <div class="col">
          <a id="GFG" href="{% url 'payment1' l.id %}">
          <div class="card shadow-sm">
            <img src="{{l.image.url}}" class="d-block w-100" alt="...">
            <div class="card-body">
              <h1 class="card-text">{{l.name}}</h1>
              <h4 class="card-text">Rs.{{l.price}}</h4>
                <h6 class="text">{{l.description}}</h6>
            </div>
          </div>
          </a>
        </div>
        {% endfor %}

      </div>
    </div>
</div>

{% endblock body %}