{% extends 'base.html' %}


{% block title %} index  {% endblock title %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="{% static 'payment1.css' %}">
<div class="album py-5 bg-light">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <img src="{{product.image.url}}" alt="comming soon" width="100%">
    </div>
    <div class="col">
      <h4>Home / Hire Worker</h4>
      <h1>{{product.name}}</h1>
      <h6>Rs.{{product.price}} <small class="fw-light text-decoration-line-through">Rs.{{product.selling_price}}</small></h6>
      <form action="{% url 'payment1' %}" method="POST">
        {% csrf_token %}
      <h6>
        <select name="quantity">
          <option name="quantity" value="None">select quantity</option>
          <option name="quantity" value="1">1</option>
          <option name="quantity" value="2">2</option>
          <option name="quantity" value="3">3</option>
        </select>
        <input type="Submit" id="rzp-button1" class="buton" value="Hire Now">
      </h6>
      </form>

  <!---    <form action="https://www.example.com/payment/success/" method="POST">
      <script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="rzp_test_zetAEowGnXXHd7"
    data-amount="29935"
    data-currency="INR"
    data-order_id="{{payment.id}}"
    data-buttontext="Pay with Razorpay"
    data-name="Acme Corp"
    data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
    data-image="https://example.com/your_logo.jpg"
    data-prefill.name=""
    data-prefill.email=""
    data-theme.color="#F37254"
      >  var rzp1= new Razorpay(options);
    document.getElementById('rzp-button1').onclick=function(e){
          rzp1.open();
          e.preventDefalut();
          }</script>
      </form> !-->
      <h4>Product Detail</h4>
      <div class="contain">
      <h6>{{product.description}} This deal contains experienced hard working farm workers.<br>
        which are not from your district or city.They are more<br>
          productive within affordable price.
      </h6>
    </div>
    </div>
  </div>
</div>

 <div class="album py-5 bg-light">
    <div class="container">
<h2 class="title">Related Products</h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for l in labour %}
        <div class="col">

          <a id="GFG" href="{% url 'payment1' l.id %}">
          <div class="card shadow-sm">
            <img src="{{l.image.url}}" class="d-block w-100" alt="...">

              <h4 class="card-text">{{l.name}}</h4>
              <div class="rating">
              <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            <p>Rs.{{l.price}}</p>

          </div>
          </a>
        </div>
        {% endfor %}


      </div>
    </div>
 </div>

       {% endblock body %}
